.login-header {
  display: flex;
  flex-direction: column;
  text-align: center;
  margin-top: 100px;
}

.login-header_title {
  margin-bottom: 120px;
  font-size: 60px;
  font-weight: 600;
  opacity: 0.8;
}

.login-header_form {
  display: flex;
  flex-direction: column;
  margin: 0px 35px;
}

.login-header_form_text {
  outline: none;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
  padding: 30px 0px 15px 0px;
  background-color: var(--yellow);
  font-size: 20px;
  font-family: "Edu VIC WA NT Beginner", cursive;
  transition: border-bottom 0.3s ease-in-out;
}

.login-header_form_text::placeholder {
  opacity: 0.8;
}

.login-header_form_text:focus {
  border-bottom: 1px solid var(--green);
}

.login-header_form_submit {
  margin: 20px 0px;
  border-radius: 12px;
  border: none;
  padding: 20px;
  background-color: var(--green);
  font-size: 20px;
  font-family: "Edu VIC WA NT Beginner", cursive;
  cursor: pointer;
}

.login-header_form_submit:hover {
  font-weight: 600;
  box-shadow: 3px 3px 3px 3px rgba(0, 0, 0, 0.15);
}

.login-header_text {
  margin-bottom: 5px;
  font-size: 20px;
  opacity: 0.6;
}

.login-header_link {
  font-size: 20px;
  color: var(--red);
  text-decoration: none;
}

.login-header_link:hover {
  font-weight: 600;
}
