.nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  height: 70px;
  width: 100%;
  background-color: var(--green);
}

.nav_div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70px;
  width: 70px;
  position: relative;
}

.nav_div_a {
  font-size: 27px;
  color: black;
}

.nav_div_a:hover {
  font-size: 35px;
}

.nav_notification {
  position: absolute;
  top: 10px;
  right: 10px;
}
