@import url("https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@400;500;600;700&display=swap");

@import "reset.css";
@import "variable.css";

@import "status-bar.css";
@import "nav-bar.css";
@import "screen-header.css";
@import "back-header.css";

@import "login.css";
@import "screen-info.css";
@import "screen-user.css";
@import "screen-chef.css";
@import "screen-recipe.css";
@import "find.css";
@import "more.css";
@import "chat.css";

body {
  background-color: var(--yellow);
  font-family: "Edu VIC WA NT Beginner", cursive;
}

.badge {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
  width: 22px;
  border-radius: 50%;
  background-color: var(--red);
  color: white;
  font-size: 18px;
  font-weight: 600;
}
